.quote-request.quote-request {
    background: rgba(0, 128, 128, 0.1);
    border-inline-start-color: rgb(0, 128, 128);

    width: 90%;
}

.quote-response.quote-response {
    background: rgba(128, 0, 128, 0.1);
    border-inline-start-color: rgb(128, 0, 128);

    width: 90%;
    margin-left: 10%;
}

.quote-request::before {
    content: "Request: ";
    color: rgb(0, 128, 128);
}

.quote-response::before {
    content: "Response: ";
    color: rgb(128, 0, 128);
}

.admonition {
    display: flex;
    background: var(--code-bg);
    padding: 1rem;
}

.admonition-icon {
    padding-right: 1rem;
    font-size: 3rem;
    border-right: 1px solid #aaa;
}

.admonition-body {
    margin-left: 1rem;
    min-width: 0;
}

.caution, .important {
    background: rgba(128, 128, 0, 0.3);
    padding: 1em;
    margin-bottom: 1em;
}

